.wrapper-login-page{
    margin-bottom: -70px;
}

.wrapper-login-page p, .btn-login-page{
    display: flex;
    justify-content: center;
}

.wrapper-login-page p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    text-align: center;
    font-weight: lighter;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin: -20px 40% 20px 40%;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    border-color: tomato;
}

.btn-login-page button{
    width: 9%;
    padding: 5px;
    border-style: none;
    border: 2px solid #51a3a3;
    color: #fff;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #51a3a3;
    transition: all 0.3s;
}

.btn-login-page button:hover{
    width: 11%;
    background-color: #fff;
    color: #51a3a3;
    cursor: pointer;
}

.btn-login-page button span{
    color: white;
}

.btn-login-page button:hover span{
    color: #51a3a3;
}